[submodule "ginseng"]
	path = ginseng
	url = https://github.com/dbralir/ginseng.git
	branch = master
[submodule "raspberry"]
	path = raspberry
	url = https://github.com/dbralir/raspberry
[submodule "ChaiScript"]
	path = ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
